network:
    ethernets:
       ens4:
            dhcp4: false
            match:
                macaddress: 52:54:00:42:10:4a
            addresses: [192.168.210.47/24]
            set-name: ens4
    version: 2
